include README.md
include CONTRIBUTING.md
include LICENSE

recursive-include tests *
recursive-include py_enum/ *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

include py_enum/py.typed
